body{
    font-size: 16px;
}
header, main, footer{
    max-width: 760px;
    margin: 0 auto;

}
header, footer {
    border: 1px solid #81c4ff;
    padding: 1rem;
    background-color: #16588e;
}
header img{
    float: right;
    width: 200px;
    height: auto;
}